
<div class="category col-md-12 col-sm-12">
  <h1>职业类型</h1>
  <hr>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://upload-images.jianshu.io/upload_images/12661863-49ee996eb3b00f87.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/512/format/webp" alt="">
      <div class="caption">
    <h4><%= link_to("IT行业", information_jobs_path(:order=> "by_developer")) %></h4>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://upload-images.jianshu.io/upload_images/12661863-64fe5300e46dd53f.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/512/format/webp" alt="">
      <div class="caption">
    <h4><%= link_to("市场营销", marketing_jobs_path(:order=> "by_developer")) %></h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://upload-images.jianshu.io/upload_images/12661863-7b036a66d961255b.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/512/format/webp" alt="">
      <div class="caption">
    <h4><%= link_to("教育培训", education_jobs_path(:order=> "by_developer")) %></h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
    <img src="https://upload-images.jianshu.io/upload_images/12661863-e7f216ec8931f059.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/512/format/webp" alt="">
      <div class="caption">
    <h4><%= link_to("医疗健康", medical_jobs_path(:order=> "by_developer")) %></h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://upload-images.jianshu.io/upload_images/12661863-9bfb2c7d935e60e8.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/512/format/webp" alt="">
      <div class="caption">
    <h4><%= link_to("页面设计", page_design_jobs_path(:order=> "by_developer")) %></h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://upload-images.jianshu.io/upload_images/12661863-bc90d3b13609f0ca.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/512/format/webp" alt="">
      <div class="caption">
    <h4><%= link_to("高级管理", operation_jobs_path(:order=> "by_developer")) %></h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://upload-images.jianshu.io/upload_images/12661863-f678a2013b1cd332.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/512/format/webp" alt="">
      <div class="caption">
    <h4><%= link_to("产品运营", manage_jobs_path(:order=> "by_developer")) %></h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="https://upload-images.jianshu.io/upload_images/12661863-a4ae3dbb56903841.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/512/format/webp" alt="">
      <div class="caption">
    <h4><%= link_to("人事行政", administrative_jobs_path(:order=> "by_developer")) %></h4>
      </div>
    </div>
  </div>
</div>
