<style media="screen">
  .ni{
    text-align: center;
  }
</style>
<div class="col-md-8 col-md-offset-2 ">
  <div class="ni">
  <div class="pull-left">
    <%= link_to("job", admin_jobs_path, class: "btn btn-default hei")%>
  </div>
  </div>

    <div class="pull-right">
      <%= link_to("添加job", new_admin_job_path, :class => "btn btn-default")%>
    </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>职缺</th>
        <th>收到简历数量</th>
        <th>薪资下限</th>
        <th>薪资上限</th>
        <th>操作选项</th>
        <th>发布时间</th>
      </tr>
    </thead>
     <% @jobs.each do |job| %>
     <tr>
       <td>
         <%= render_job_status(job) %>
         <%= link_to(job.title, admin_job_path(job))%>
       </td>
       <td><%= link_to(job.resumes.count, admin_job_resumes_path(job)) %></td>
       <td><%= job.wage_lower_bound %></td>
       <td><%= job.wage_upper_bound %></td>
       <td>
         <%= link_to("编辑", edit_admin_job_path(job)) %>
         <%= link_to("删除", admin_job_path(job), :method => :delete, :data => { :confirm => "你确定删除吗！"}) %>
         <% if job.is_hidden %>
         <%= link_to("公开", publish_admin_job_path(job), :method => :post, :class => "btn btn-xs btn-default") %>
         <% else %>
         <%= link_to("隐藏", hide_admin_job_path(job), :method => :post, :class => "btn btn-xs btn-default")%>
         <% end %>
       </td>
       <td>
         <%= job.created_at %>
       </td>
     </tr>
    <% end %>
  </table>
</div>
